
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 40px;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2b4eff;
}


form {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

label {
    font-weight: 600;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    background: #2b4eff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.85;
}


table {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

th {
    background: #2b4eff;
    color: #fff;
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #f9f9f9;
}


.filters {
    display: flex;
    gap: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}


.action-btn {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    border: none;
}

.edit-btn {
    background: #ffa500;
    color: #fff;
}

.delete-btn {
    background: #e63946;
    color: #fff;
}


.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    width: auto;
    margin: 5px;
    padding: 8px 16px;
}
